{% extends 'base.html' %}

{% block content %}
<h4>
{{ content }}
</h4>
<form autocomplete="on">
    <div>
        <label>New password
            <input type="text" pattern="[A-Za-zР-пр-џ0-9]" placeholder="new password" id="new_password" required>
        </label>
    </div>

    <div>
        <label>Repeat password
            <input type="password" pattern="[A-Za-zР-пр-џ0-9]" placeholder="password" id="password" required>
        </label>
    </div>
    <p>
        <input id="submit" title="Submit" type="button" value="Submit">
        <input id="signin" title="Sign In" type="button" value="Sign In">
    </p>
</form>
{% endblock %}